
/* Yoinked verbatim from stack exchange:
* https://stackoverflow.com/a/4407335/10821333
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#output {
    white-space: pre;
}

#content {
}

#sideBar {
}

.keySubtext {
    font-size: 9px;
    text-align: left;
    display: block;
}

.keyboardRow {
    width: 100%;
    display: table; 
}

#keyboard {
    font-family: consolas;
    border: medium solid green;
    width: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
}

.key {
    background-color: #dadada;
    border: medium solid #333;
}
.key:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.key:active {
    filter: brightness(50%);
}
